
{% extends 'base.html' %}

{% block title %}Detalles del Motivo de Ajuste{% endblock %}
    
{% block content %}

    <h1>Detalles del Motivo de Ajuste</h1>
    <p><strong>Descripción:</strong> {{ motivo_ajuste.descripcion }}</p>
    <a href="{% url 'editar_motivo_ajuste' motivo_ajuste.pk %}">Editar</a>
    <form action="{% url 'eliminar_motivo_ajuste' motivo_ajuste.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'lista_motivos_ajuste' %}">Volver a la lista de Motivos de Ajuste</a>

{% endblock %}


