<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}Mi Inventario de tienda{% endblock %}</title>
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css">
   
    <!-- Incluir jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Incluir DataTables -->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />  
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    
    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <h1>Sistema de Inventario para tiendas</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Mi Empresa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProductos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Productos
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownProductos">
                    <a class="dropdown-item" href="{% url 'lista_productos' %}">Lista de Productos</a>
                    <a class="dropdown-item" href="{% url 'agregar_producto' %}">Agregar Producto</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProveedores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Almacenes
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownProveedores">
                    <a class="dropdown-item" href="{% url 'lista_almacenes' %}">Lista de almacenes</a>
                    <a class="dropdown-item" href="{% url 'agregar_almacen' %}">Agregar almacen</a>
                    <a class="dropdown-item" href="{% url 'lista_ubicaciones' %}">Lista de ubicaciones</a>
                    <a class="dropdown-item" href="{% url 'agregar_ubicacion' %}">Agregar ubicación</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProveedores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Movimientos
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownProveedores">
                    <a class="dropdown-item" href="{% url 'lista_movimientos' %}">Lista de movimientos</a>
                    <a class="dropdown-item" href="{% url 'agregar_movimiento' %}">Agregar movimiento</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProveedores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ajustes
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownProveedores">
                    <a class="dropdown-item" href="{% url 'lista_ajustes' %}">Lista de ajustes</a>
                    <a class="dropdown-item" href="{% url 'agregar_ajuste' %}">Agregar ajustes</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          
    </header>
   
    {% block content %}

    {% endblock %}
    <footer>
        <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h5>Redes Sociales</h5>
                  <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <!-- Agrega aquí los enlaces a tus redes sociales con los iconos correspondientes -->
                  </div>
                </div>
                <div class="col-md-6 text-md-right">
                  <h5>Información de Contacto</h5>
                  <p>Ciudad: Armenia Quindio</p>
                  <p>Teléfono: (315) 5708 095</p>
                  <p>Corrreo: luis930114@gmail.com</p>
                </div>
              </div>
            </div>
          </footer>          
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> 

</body>
</html>


