<!-- login.html -->
{% extends 'base.html' %}

{% block title %}Login - Mi Sitio Web{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>hola {{ user.username }}</h2>    
            <form action="{% url 'buscar_productos' %}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar productos por nombre" name="q">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
